# Segredos e Chaves (MUITO IMPORTANTE)
firebase-key.json
*.json
!manifest.json
!firebase.json

# Python
__pycache__/
*.py[cod]
venv/
.env

# Firebase local
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Arquivos temporários dos nossos scripts
arte_temp.txt
manual.txt
*.png
*.jpg
!public/icon-192.png
!public/icon-512.png

# Sistema
.DS_Store
Thumbs.db
